[
	{klinfo, [

	]},
	{lager, [
		{log_root, "/var/log/klinfo"},
		{handlers, [
			{lager_console_backend, info},
			{lager_file_backend, [{file, "debug.log"}, {level, debug}, {formatter, lager_default_formatter},
				{formatter_config, [date, " ", time, " [", severity, "] ", " ", message, "\n"]}]},
			{lager_file_backend, [{file, "console.log"}, {level, info}, {formatter, lager_default_formatter},
				{formatter_config, [date, " ", time, " [", severity, "] ", " ", message, "\n"]}]},
			{lager_file_backend, [{file, "error.log"}, {level, error}, {formatter, lager_default_formatter},
				{formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", message, "\n"]}]},
			{lager_file_backend, [{file, "warning.log"}, {level, warning}, {formatter, lager_default_formatter},
				{formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", message, "\n"]}]},
			{lager_udp_backend, [
				{name,     "lager_udp_backend"},
				{level,    debug},
				{host,    "localhost"},
				{port,    20001},
				{formatter, lager_default_formatter},
				{formatter_config, ["KLINFO", " [", severity, "] ",  node, " ", pid, " ", message, "\n"]}
			]}
		]},
		{colored, true}
	]}
].
